:root {
  --primary-color: #ffb547;
  --primary-color-hover: #ffc066;
  --primary-color-active: #e6a33d;
  --primary-color-shadow: rgba(255, 181, 71, 0.25);
}

body {
  font-family: "Roboto", sans-serif !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ant-table-selection-column {
  padding-left: 16px !important;
}

.ant-table-thead > tr > th {
  background-color: #edf2f7 !important;
  font-weight: 700 !important;
}
